{% extends 'base.html' %}

{% block content %}
<div class="page-content">

  <div class="hdr-container">
    <h1>Countries</h1>
    <a href="/countries/new"><button class="button">Add Country</button></a>
  </div>
  <div class="img-container">
    <img src="/static/images/Country1.PNG" alt="An image of a lighthouse" style="width:250px;height:250px">
    <img src="/static/images/Country2.PNG" alt="An image of the sea from a beach" style="width:250px;height:250px">
    <img src="/static/images/Country3.PNG" alt="An image of orange trees" style="width:250px;height:250px">
  </div>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Visited</th>
        <th>Wishlist</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
      <tr>
        <td><a href="/countries/{{ country.id }}"> {{country.name}} </a></td>
        <td>{{ country.visited }}</td>
        <td>{{ country.wishlist }}</td>
        <td><a href="/countries/{{country.id}}/edit"><button class="button">Edit</button></a></td>
        <td><form action="/countries/{{country.id}}/delete" method="POST"><button class="button">Delete</button></form></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
</div>
{% endblock %}