{% extends 'base.html' %}

{% block content %}
<div class="page-content">
    <h3> Things To Do In {{city.name}} </h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Entry Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for attraction in attractions %}
            <tr>
                <td><a class="link" href="/attractions/{{attraction.id}}">{{attraction.name}}</a></td>
                <td>{{ attraction.category }}</td>
                <td>{{ attraction.entry_fee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
</div>


{% endblock %}