.grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 250px 50px 100px 100px 250px auto;
    column-gap: 20px;
    row-gap: 10px;

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item2 a {
    color: black;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    justify-self: start;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}

.item4 a {
    color:black;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.item7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}


.button-container {
    display: inline-flex;
    
}

.button-journal {
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
}