{% extends "base.html" %}
{% block content %}
<div class="page-content">
    <h3>Search for a Type of Attraction</h3>
    <p>Eg. 'museum', 'historical site', 'sports'</p>


    <form class="form" action="/attractions/search_results" method="post">
        <div class="input-container">
            <label for="search">Input Your Search Here:</label>
            <input class="input-field" type="text" id="search" name="search" placeholder="Search" required>
        </div>
        <br>

        <button class="button" type="submit">Search</button>
    </form>
</div>
{% endblock %}